*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#ff9ec4,#ffd6e8,#fff0f5);
font-family:Arial,sans-serif;
overflow:hidden;
}

.container{
background:rgba(255,255,255,0.2);
backdrop-filter:blur(10px);
padding:40px 25px;
border-radius:25px;
text-align:center;
width:90%;
max-width:400px;
box-shadow:0 10px 30px rgba(0,0,0,.2);
}

h1{
font-size:32px;
color:#ff0066;
margin-bottom:15px;
}

h2{
color:#ffffff;
margin-bottom:15px;
}

p{
color:#fff;
margin-bottom:25px;
line-height:1.6;
}

button{
padding:15px 35px;
border:none;
border-radius:50px;
background:#ff0066;
color:white;
font-size:18px;
cursor:pointer;
transition:.3s;
}

button:hover{
transform:scale(1.08);
}
