*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:linear-gradient(135deg,#000000,#1a1a1a,#2d0b3a);
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    overflow:hidden;
}

.container{
    width:90%;
    max-width:420px;
    padding:40px 25px;
    text-align:center;

    background:rgba(255,255,255,0.08);
    border:1px solid rgba(255,215,0,.3);
    border-radius:25px;
    backdrop-filter:blur(18px);

    box-shadow:0 0 25px rgba(255,215,0,.15);
    z-index:2;
}

h1{
    font-size:34px;
    color:#FFD700;
    margin-bottom:15px;
    text-shadow:0 0 15px rgba(255,215,0,.5);
}

h2{
    font-size:22px; 
.photo{
    width:220px;
    height:220px;
    object-fit:cover;
    border-radius:20px;
    margin:12px;
    border:3px solid gold;
    box-shadow:0 0 20px rgba(255,215,0,.5);
    transition:.4s;
}

.photo:hover{
    transform:scale(1.08);
}
